.about-text {
    text-align: center;
    width: 50%;
    position: relative;
    left: 21%;
    border-left: 2px solid var(--btn-background-color);
    border-top: 2px solid var(--btn-background-color);
    border-radius: 30px;
    padding: 50px;
    box-shadow: 7px 7px 12px -2px rgb(117, 117, 117);
}