.book-img img {
    width: 100%;
    transition: 0.2s;
}

section.upcoming-page {
    margin-top: 4rem;
}

section.upcoming-page div.upcoming-container ol {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.no-records {
    font-size: 220%;
    position: absolute;
    top: 5rem;
}