.book-img img {
    width: 100%;
    height: 300px;
    transition: 0.2s;
}

section.on-sale-page {
    margin-top: 4rem;
}

div.discount {
    position: absolute;
    z-index: 99;
    top: 17rem;
    right: -2rem;
    font-size: 180%;
    background-color: var(--background-color-1);
    border-radius: 2rem;
    padding: 0.5rem;
}

section.on-sale-page div.on-sale-container ol {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.no-records {
    font-size: 220%;
    position: absolute;
    top: 5rem;
}