section.create-book {
    display: flex;
    flex-direction: column;
    position: relative;
}

.create-form {
    text-align: center;
    font-size: 120%;
}

.create-form .submit-create-btn {
    position: relative;
    background-color: #237bbe;
    color: var(--btn-color);
    width: 9rem;
    font-size: 120%;
    margin-top: 2rem;
    cursor: pointer;
    border: 2px solid rgb(152, 152, 152);
    border-radius: 5px;
    transition: 0.2s;
}

.create-form .submit-create-btn:hover {
    font-size: 121%;
    background-color: var(--btn-border);
    border: 2px solid #237bbe;
    color: var(--btn-background-color);
    border-radius: 10px;
    transition: 0.2s;
}

.create-form .submit-create-btn:active {
    font-size: 118%;
    border: 2px solid #1fb900;
    background-color: var(--background-color-1);
    transition: 0.2s;
}