.catalog-list div.book-card {
    font-size: 110%;
    width: 15rem;
}

.catalog-list div.book-card-btns button {
    background-color: rgb(228, 228, 228);
    border: 2px solid #2f3f5c;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    padding: 3px;
    margin: 7px;
    font-family: external-font;
    font-size: 110%;
    transition: 0.2s;
}

.catalog-list div.book-card-btns button:hover {
    background-color: #2f3f5c;
    border: 2px solid rgba(228, 228, 228);
    color: #ffffff;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 1px rgb(77, 75, 75);
}

.catalog-list div.book-card-btns button:active {
    background-color: #ffffff;
    color: #2f3f5c;
    border: 1px solid rgb(22, 29, 99);
    font-weight: 900;
    transition: 0.2s;
}

div.price {
    font-size: 150%;
    margin-bottom: -2rem;
    background-color: rgb(38, 178, 216);
    width: 9rem;
    text-align: center;
    position: relative;
    border-radius: 2rem;
    top: -9.8rem;
    left: 2em;
}

.book-title-main {
    font-size: 130%;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    overflow: hidden;
}