section.profile-page {
    display: flex;
    margin-top: 15rem;
    position: relative;
}

div.form-header {
    margin-top: 3.7rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.profile-image img.avatar {
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 100%;
    left: 40rem;
    top: -7rem;
    z-index: 99;
}

div.horizontal-divider {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--background-color-1);
    width: 90%;
}

.all-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    bottom: 43px;
    height: 3rem;
}

.all-tabs button {
    font-size: 120%;
    background: none;
    width: 10rem;
    transition: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}

.all-tabs button:hover {
    font-size: 120%;
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border-radius: 15px;
    transition: 0.3s;
}

.all-tabs button:active {
    font-size: 120%;
    background-color: var(--background-color-1);
    color: var(--btn-background-color);
    border-radius: 15px;
    transition: 0.3s;
}

div.vertical-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--background-color-1);
    height: 1.7rem;
}

.profile-content {
    position: relative;
    top: 5rem;
    text-align: center;
    width: 80%;
    font-size: 110%;
    height: 500px;
    min-height: calc(100vh - 140px - 86.4px);
}

.all-tabs a {
    text-decoration: none;
    color: black;
}

.all-tabs a:hover {
    text-decoration: none;
    color: var(--text-color);
}