section.profile-page {
    display: flex;
    /* TODO: consider removing the margin-top */
    margin-top: 15rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.profile-image {
    position: relative;
    top: 110px;
    z-index: 90;
}

.profile-image img {
    width: 120%;
    position: relative;
    right: 1.8rem;
    bottom: 15rem;
}

div.horizontal-divider {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--background-color-1);
    width: 90%;
}

.all-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    bottom: 35px;
    height: 2rem;
}

.all-tabs button {
    font-size: 120%;
    background: none;
    width: 10rem;
    transition: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}

.all-tabs button:hover {
    font-size: 120%;
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border-radius: 15px;
    transition: 0.3s;
}

.all-tabs button:active {
    font-size: 120%;
    background-color: var(--background-color-1);
    color: var(--btn-background-color);
    border-radius: 15px;
    transition: 0.3s;
}

div.vertical-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--background-color-1);
    height: 1.7rem;
}

.profile-content {
    position: relative;
    /* TODO: consider adjusting the top property */
    top: 7rem;
    text-align: center;
    width: 80%;
    font-size: 110%;
    /* Change this as soon you start filling the content */
    height: 500px;
}