@font-face {
    font-family: external-font;
    src: url(./assets/ArchitectsDaughter-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: external-font, sans-serif;
    display: flex;
    flex-direction: column;
}

code {
    font-family: external-font, sans-serif;
}